@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300&display=swap');


.gradient-custom-2 {
  background: #fccb90;
  background: -webkit-linear-gradient(to right, #24ee75, #7fd836, #36dd5a, #45b454);
  background: linear-gradient(to right, #005213, #016118, #026c1b, #048a23);
}

.image-container {
  position: relative;
}

.custom-input {
  flex-direction: row;
  background-color: white;
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 1px;
}

.custom-button {
  background-color: #006400;
  color: white;
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 20px;
  margin-top: 20px;
  margin-left: 320px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.custom-button:hover {
  background-color: #228b22;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100vh;
  background: linear-gradient(to bottom, rgba(56, 163, 2, 0.5), rgba(47, 176, 38, 0.5));
  z-index: 0;
}

@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}

@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
